.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color:lightskyblue ;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color:black;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,black 100%,gray 0%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;